/* 



/* .image {
  flex-grow: 2;
  position: relative;
} */
/* .reva-img {
  background-image: url(/images/about/reva.png);
  object-fit: cover;

  max-height: 800px;
  width: 100%;
} */

/* @media screen and (max-width: 1000px) {
  .about-section {
    display: flex;
    flex-direction: column-reverse;
  }
  .text {
    background-image: url(/images/about/text-bg.jpg);
  }

  .image {
    height: 300px;
    background-color: aqua;
  }

  .reva-img {
    height: 100%;
  }

  .about-title {
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
    color: orange;
    margin: 3rem 2rem;
  }
  .about-para {
    font-size: 1rem;
    text-align: center;
    margin: 2rem 3rem;
    color: white;
  }
} */

.height-placeholder {
  height: 100vh;
  background-color: #191825;
}

.comingsoon {
  font-size: 32px;
  color: white;
}

.about-reva {
  /* height: 100vh; */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%239C92AC' fill-opacity='0.11'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-color: #191825;
  padding: 5% 0%;
}

.magic-text-about-reva-title {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    rgb(255, 123, 0),
    rgb(255, 182, 47),
    rgb(255, 132, 0)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.revostats {
  position: relative;
  max-width: 600px;
  margin: auto;
  padding-top: 5%;
}

.about-reva-h1 {
  font-size: 3rem;
  text-align: center;
  color: aliceblue;
  padding-top: 3rem;
}

.about-reva-container {
  display: flex;
  margin: auto;
  /* width: 80%; */
  max-width: 85%;
}
.content-section {
  /* background-color: aquamarine; */
  width: 60vw;
  /* padding: 0% 5%; */
  margin: 5% 0;
}

.content-section p {
  text-align: center;
  color: white;
  padding-right: 2%;
  margin: auto;
  /* min-width: 90%; */
}

.image {
  display: flex;
  align-items: center;
}

.image img {
  margin: auto;
  margin-left: 2%;
  /* scale: 1.1; */
  /* border-radius: 5%; */
  box-shadow: 10px 10px 50px rgb(0, 0, 0);
  /* display: none; */
}

@media screen and (max-width: 1500px) {
  .about-reva-container {
    display: flex;
    margin: auto;
    /* width: 80%; */
    max-width: 90%;
  }
}
@media screen and (max-width: 1250px) {
  .about-reva-container {
    display: flex;
    margin: auto;
    /* width: 80%; */
    max-width: 90%;
  }
  .content-section {
    width: 100vw;
  }
}

@media screen and (max-width: 1100px) {
  .content-section {
    /* background-color: aquamarine; */
    width: 100%;
    /* padding: 0% 5%; */
  }
  .about-reva-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .about-reva-para {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    margin-top: 5%;
    padding: 0;
  }
  .content-section p {
    font-size: 16px;
    padding: 0;
  }

  .about-reva-h1 {
    padding-top: 5rem;
  }
  .arh {
    padding: 0;
    /* padding-top: 2rem; */
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
}

.left-hidden {
  transform: translateX(-100%);
  transition: all 2s;
}

.right-hidden {
  transform: translateX(100%);
  transition: all 2s;
}

.left-hidden-f {
  transform: translateX(-50%);
  transition: all 2s;
}

.right-hidden-f {
  transform: translateX(50%);
  transition: all 2s;
}

.show {
  opacity: 1;
  transition: all 2s;
  filter: blur(0);
  transform: translateX(0);
}
