/* 



/* .image {
  flex-grow: 2;
  position: relative;
} */
/* .reva-img {
  background-image: url(/images/about/reva.png);
  object-fit: cover;

  max-height: 800px;
  width: 100%;
} */

/* @media screen and (max-width: 1000px) {
  .about-section {
    display: flex;
    flex-direction: column-reverse;
  }
  .text {
    background-image: url(/images/about/text-bg.jpg);
  }

  .image {
    height: 300px;
    background-color: aqua;
  }

  .reva-img {
    height: 100%;
  }

  .about-title {
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
    color: orange;
    margin: 3rem 2rem;
  }
  .about-para {
    font-size: 1rem;
    text-align: center;
    margin: 2rem 3rem;
    color: white;
  }
} */
.about-section {
  display: flex;
  flex-direction: column;
}
.about-imagee {
  flex-grow: 1.5;
  background-color: aqua;
  /* background-image: url(../images/about/reva.png);
  background-size: cover; */
}

.about-imagee img {
  min-height: 300px;
  width: 100%;
  object-fit: cover;
}

.about-text {
  flex-grow: 1.5;
  background-color: black;
  background-image: url(/images/about/text-bg.jpg);
  background-size: cover;
}
.about-title {
  font-size: 6rem;
  text-align: center;
  font-weight: 700;
  color: rgb(255, 98, 0);
  display: block;
  padding: 2% 0;
}
.about-para {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2rem;
  font-size: 2rem;
  text-align: center;

  color: white;
}
.dektop-helptext {
  display: block;
}
.mobile-helptext {
  display: none;
}
@media screen and (max-width: 880px) {
  .about-title {
    font-size: 4rem;
  }
  .about-para {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 650px) {
  .about-title {
    font-size: 3rem;
  }
  .about-para {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 510px) {
  .about-title {
    font-size: 2.5rem;
  }
  .about-para {
    font-size: rem;
  }
}
.eventHeader {
  padding-top: 5%;
}
.fancyslider {
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding-top: 0%;
  /* padding-bottom: 10%; */
  /* margin-bottom: 10%; */
}

@media screen and (max-width: 600px) {
  .fancyslider {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 575px) {
  .desktop-helptext {
    display: none;
  }
  .mobile-helptext {
    display: block;
  }
  .events-section {
    background-color: var(--dark-color);
    text-align: center;
    height: 90vh;
  }
}

.height-placeholder {
  height: 100vh;
  background-color: #191825;
}

.comingsoon {
  font-size: 32px;
  color: white;
}
