/* @import url("https://fonts.googleapis.com/css?family=Roboto&display=swap"); */

.gallery-section {
  /* font-family: "Roboto", sans-serif; */
  max-height: 95vh;
  background-color: var(--primary-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%239C92AC' fill-opacity='0.11'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.gallery-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.sidebar {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.sidebar > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.prev-event-title {
  font-size: 5rem;
  color: white;
}

.prev-event-desc {
  font-size: 1rem;
  text-align: center;
  color: rgb(174, 173, 173);
}
.main-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.main-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.controls > button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  /* margin-top: -50px; */
}

.controls > button:hover {
  color: #222;
}

.controls > button:focus {
  outline: none;
}

.gallery-container .controls button {
  position: absolute;
  left: 35%;
  top: 40%;
  z-index: 1;
}

.gallery-container .controls .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.gallery-container .controls .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.gallery-wrapper {
  max-width: 60em;
  margin: 1em auto;
  position: relative;
}

input {
  display: none;
}

.inner {
  width: 500%;
  line-height: 0;
}

article {
  width: 20%;
  float: left;
  position: relative;
}
article img {
  width: 100%;
}

/*---- SET UP CONTROL ----*/

.mobile-carousel {
  min-width: 100%;
}

mobile-gallery img {
  min-width: 100%;
  object-fit: cover;
}

/*---- TABLET ----*/
@media only screen and (max-width: 850px) and (min-width: 450px) {
  .slider-wrapper {
    border-radius: 0;
  }
}
/*---- MOBILE----*/
@media only screen and (max-width: 450px) {
  .slider-wrapper {
    border-radius: 0;
  }

  .slider-wrapper .info {
    opacity: 0;
  }
}
@media only screen and (min-width: 850px) {
  /* body {
    padding: 0 80px;
  } */
}

/*---------------------------------------
Responsive styles
-----------------------------------------*/
@media screen and (max-width: 575px) {
  .gallery-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 575px) {
  .prev-event-title {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 2.5rem;
    color: white;
  }

  .prev-event-desc {
    font-size: 0.75rem;
    text-align: center;
    color: rgb(174, 173, 173);
  }
  .gallery-container .controls button {
    position: absolute;
    left: 35%;
    top: 75%;
    z-index: 1;
  }
}
@media screen and (max-width: 420px) {
  .prev-event-title {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 2rem;
    color: white;
  }

  .prev-event-desc {
    font-size: 0.75rem;
    text-align: center;
    color: rgb(174, 173, 173);
  }
  .gallery-container .controls button {
    position: absolute;
    left: 35%;
    top: 75%;
    z-index: 1;
  }
}

.mobile-gallery {
  display: none;
  background-color: var(--primary-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%239C92AC' fill-opacity='0.11'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  margin-bottom: -3%;
}

@media screen and (max-width: 1400px) {
  .mobile-gallery {
    display: block;
  }

  .gallery-section {
    display: none;
  }
}
