/*
Imminent - Coming Soon Template by Themewagon
Version: 1.0
Author: ThemeWagon
Author URI: http://www.themewagon.com
*/

/* =Common Styles
-------------------------------------------------------------- */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

body {
  background: #fff;
  color: #666666;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

section {
  overflow: hidden;
}
::selection {
  background: #161a1b;
  color: #fff;
}
::-moz-selection {
  background: #161a1b;
  color: #fff;
}

/* =Typography
-------------------------------------------------------------- */
a {
  text-decoration: none;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 80px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -0.08em;
  color: #ff7722;
}

h2 {
  font-size: 18px;
  font-weight: 800;
  line-height: 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #da3700;
}

#countdown div span {
  display: block;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: initial;
  font-weight: 100;
  text-transform: uppercase;
}

#countdown div {
  display: inline-block;
  margin: 0 34px;
}

.sub-title {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: white;
}

/* =Content Styles
-------------------------------------------------------------- */

.wrapper {
  text-align: center;
  position: absolute;
  overflow: hidden;
  display: table-cell;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.scene,
.layer {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.scene {
  position: relative;
  overflow: hidden;
}

.layer {
  position: absolute;
}

.layer div {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Background */
/* .background {
  background: url(../images/background.jpg) no-repeat 50% 100%;
  bottom: -20px;
  background-size: cover;
  position: absolute;
  width: 110%;
  left: -5%;
  top: -5%;
} */

/* Text */
.title {
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 10%;
}

/* =Responsive Styles
-------------------------------------------------------------- */

@media (max-width: 320px) {
  /* HERO */
  h1 {
    font-size: 40px;
    line-height: 40px;
  }

  /* .sub-title { font-size: ; line-height: ; margin-top: 10px; } */
  /* TITLE & CONTACT */
  .title {
    top: 15%;
  }
}

/* Landscape Phone */
@media all and (min-width: 300px) {
  /* HERO */
  h1 {
    font-size: 60px;
    line-height: 40px;
  }

  .sub-title {
    font-size: 20px;
    line-height: 44px;
    margin-top: 15px;
  }
  /* TITLE & CONTACT */
  .title {
    top: 10%;
  }
}

/* Tablet Portrait */
@media all and (min-width: 700px) {
  /* HERO */
  h1 {
    font-size: 90px;
    line-height: 90px;
  }
  .sub-title {
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
  }
  /* TITLE & CONTACT */
  .title {
    top: 18%;
  }
  .line {
    margin-top: 20px;
  }
  .contact {
    bottom: 10%;
  }
}

@media all and (min-width: 900px) {
  /* HERO */
  h1 {
    font-size: 120px;
    line-height: 120px;
  }

  .sub-title {
    font-size: 20px;
    line-height: 20px;
    margin-top: 20px;
  }
  /* TITLE & CONTACT */
  .title {
    top: 15%;
  }
  .contact {
    bottom: 8%;
  }
}

@media all and (min-width: 1200px) {
  /* HERO */
  h1 {
    font-size: 150px;
    line-height: 150px;
  }
  #countdown div span {
    font-size: 44px;
    line-height: 44px;
  }
  .sub-title {
    font-size: 25px;
    line-height: 25px;
    margin-top: 20px;
  }
}

@media all and (min-width: 1400px) {
  /* HERO */
  h1 {
    font-size: 160px;
    line-height: 160px;
  }
  .sub-title {
    font-size: 25px;
    line-height: 25px;
    margin-top: 20px;
  }
}

@media all and (min-width: 1600px) {
  /* HERO */
  h1 {
    font-size: 180px;
    line-height: 180px;
  }
  #countdown div span {
    font-size: 54px;
    line-height: 54px;
  }
  .sub-title {
    font-size: 25px;
    line-height: 25px;
    margin-top: 25px;
  }
}

@media all and (min-width: 1920px) {
  /* HERO */
  h1 {
    font-size: 200px;
    line-height: 200px;
  }
  .sub-title {
    font-size: 30px;
    line-height: 30px;
    margin-top: 30px;
  }
}

/* =404
-------------------------------------------------------------- */

.snap {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/404-background.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
}

.snap .line {
  margin-bottom: 70px;
}

.button {
  display: inline-block;
  margin-top: 80px;
  text-decoration: none;
  font-size: 9px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #161a1b;
  background: transparent;
  border: 1px solid rgb(23, 26, 28);
  border: 1px solid rgba(23, 26, 28, 0.3);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 4px;
  padding: 15px 25px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover {
  background: rgb(23, 26, 28);
  color: #fff;
  border: 1px solid rgb(23, 26, 28);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

@media all and (min-width: 700px) {
  .button {
    font-size: 12px;
    border-radius: 10px;
    padding: 25px 45px;
  }
}

.event-title {
  color: #ff5100;
}

.location-wrap {
  display: flex;
  flex-direction: row;
  padding: 20px;
}


.blursection{
  
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);

    background-color: #ccc;

}

.eventHeader{
  padding: 20px;
}
#particle-canvas {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(10, 10, 50) 0%,rgb(60, 10, 60) 100%);
  vertical-align: middle;
}
@import url(https://fonts.googleapis.com/css?family=Exo:100);
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */

/* Main styles */

.wrap {
  padding: 4.8rem;
  position:relative;
  width: 100%;
}
.Sponsors-h3 { 
  font-size:2.4rem;
  font-weight: 600;
  text-align:center;
  color:#c7460a;
  margin-bottom: 30px;
 } 
.clients {
    align-items: center;
    -webkit-box-align: center;
    display: grid;
    gap: 4.8rem 4.8rem;
    grid-template-columns: auto auto;
    justify-items: center;
    margin: 4.8rem auto;
    max-width: 1024px; }

.clients li {
  list-style: none;
  margin: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.clients img {
  height: 3.2rem;

}
.clients:hover li {
filter: blur(0px);
-webkit-filter: blur(0px);
}
.clients:hover li:not(:hover)  {
filter: blur(2px);
-webkit-filter: blur(2px);
}
.clients li:hover {
-webkit-transform: translateY(-0.3rem);
transform: translateY(-0.3rem); 
}

@media (min-width: 1024px) {
.clients {
    grid-template-columns: auto auto auto auto; }
    
.clients img {
  height: 4rem; }}

/* --- Images (gray logo) --- */
.clients img {
  -webkit-filter: grayscale(100%) brightness(10%) contrast(10%);
          filter: grayscale(100%) brightness(10%) contrast(10%); }

.clients img:hover {
  background: none;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.Sponsors-h3{
  margin-bottom: 30px;
}

.s-title{
  font-size: 25px; 
  font-weight: 600;
  text-align:center;
  color:#c7460a; 
}
