/*

TemplateMo 583 Festava Live

https://templatemo.com/tm-583-festava-live

*/

/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color: #ffffff;
  --primary-color: #f8cb2e;
  --secondary-color: #bf2303;
  --accent-color: #bf2303;

  /* --title-color: #ff7722; */
  --title-color: white;

  --section-bg-color: #f0f8ff;
  /* --section-bg-color: rgb(255, 230, 226, 0.7); */
  --custom-btn-bg-color: #bf2303;
  --custom-btn-bg-hover-color: #bf2303;
  --dark-color: #000;
  --p-color: #717275;
  --border-color: #7fffd4;
  --link-hover-color: #f8cb2e;

  --body-font-family: "Outfit", sans-serif;

  --h1-font-size: 70px;
  --h2-font-size: 46px;
  --h3-font-size: 32px;
  --h4-font-size: 28px;
  --h5-font-size: 24px;
  --h6-font-size: 22px;
  --p-font-size: 18px;
  --btn-font-size: 14px;
  --copyright-font-size: 16px;

  --border-radius-large: 9px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

body {
  background-color: var(--white-color);
  font-family: var(--body-font-family);
  overflow-x: hidden;
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
}

h1 {
  font-weight: var(--font-weight-bold) !important;
}

h1 {
  font-size: var(--h1-font-size) !important;
}

h2 {
  font-size: var(--h2-font-size) !important;
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

/* ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
} */

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

.link-fx-1 {
  color: var(--white-color);
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 32px;
  padding: 0 6px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link-fx-1:hover {
  color: var(--link-hover-color);
}

.link-fx-1:hover::before {
  transform: translateX(17px) scaleX(0);
  transition: transform 0.2s;
}

.link-fx-1:hover .icon circle {
  stroke-dashoffset: 200;
  transition: stroke-dashoffset 0.2s 0.1s;
}

.link-fx-1:hover .icon line {
  transform: rotate(-180deg);
}

.link-fx-1:hover .icon line:last-child {
  transform: rotate(180deg);
}

.link-fx-1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform-origin: right center;
  transition: transform 0.2s 0.1s;
}

.link-fx-1 .icon {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(100%) rotate(90deg);
  font-size: 32px;
}

.icon {
  --size: 1em;
  height: var(--size);
  width: var(--size);
  display: inline-block;
  color: inherit;
  fill: currentColor;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

.link-fx-1 .icon circle {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transition: stroke-dashoffset 0.2s;
}

.link-fx-1 .icon line {
  transition: transform 0.4s;
  transform-origin: 13px 15px;
}

.link-fx-1 .icon line:last-child {
  transform-origin: 19px 15px;
}

/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-bg {
  background-color: #191825;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%239C92AC' fill-opacity='0.11'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.section-overlay {
  background-color: var(--dark-color);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0.35;
}

.section-overlay + .container {
  position: relative;
}

/* .tab-content {
  background-color: var(--white-color);
  border-radius: var(--border-radius-medium);
  padding: 45px;
} */

.nav-tabs {
  background-color: var(--section-bg-color);
  border-radius: var(--border-radius-large);
  border-bottom: 0;
  /* box-shadow: 10px 10px 30px rgba(125, 125, 125, 0.4);
  backdrop-filter: blur(3px); */
  /* backdrop-filter: blur(1px); */
  /* -webkit-backdrop-filter: blur(5.7px); */
  /* border: 1px solid rgba(185, 185, 185, 0.4); */
  /* border: 1px solid rgba(132, 132, 132, 0.3); */
  padding: 15px;
}

.nav-tabs .nav-link {
  border-radius: var(--border-radius-large);
  border: 0;
  padding: 15px 25px;
  transition: all 0.3s;
}

/* .nav-tabs .nav-link:first-child {
  margin-right: 15px;
} */

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  color: var(--golden-accent-color);
}

.nav-tabs h5 {
  color: var(--p-color);
  margin-bottom: 0;
}

.nav-tabs .nav-link.active h5,
.nav-tabs .nav-link:focus h5,
.nav-tabs .nav-link:hover h5 {
  color: var(--primary-color);
}

/*---------------------------------------
  CUSTOM ICON COLOR               
-----------------------------------------*/
.custom-icon {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
  background: var(--custom-btn-bg-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: white;
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-bold);
  line-height: normal;
  transition: all 0.3s;
  padding: 10px 20px;
  z-index: 1000;
}

#cus-btn {
  background: var(--accent-color);
  color: white;
}

/* .custom-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
} */

.custom-border-btn {
  /* background: transparent; */
  border: 2px solid var(--custom-btn-bg-color);
  color: var(--custom-btn-bg-color);
}

/* .navbar-expand-lg .navbar-nav .nav-link.custom-btn:hover,
.custom-border-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  border-color: transparent;
  color: var(--white-color);
} */

.custom-btn-bg-white {
  border-color: var(--white-color);
  color: var(--white-color);
}

/*---------------------------------------
  VIDEO              
-----------------------------------------*/
.video-wrap {
  z-index: -100;
}

.custom-video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* z-index: ; */
  /* filter: blur(3px); */
  filter: brightness(80%);
}

/*---------------------------------------
  SITE HEADER              
-----------------------------------------*/
.site-header {
  background-color: var(--primary-color);
  background-color: var(--primary-color);
  padding-top: 12px;
  padding-bottom: 12px;
}

/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/

.sticky-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.sticky-wrapper.is-sticky .navbar {
  background-color: var(--dark-color);
}

.navbar {
  background: transparent;
  z-index: 99;
}

.navbar-brand,
.navbar-brand:hover {
  color: var(--white-color);
  font-size: var(--h5-font-size);
  font-weight: var(--font-weight-bold);
  display: inline-block;
  text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
  border-radius: var(--border-radius-large);
  margin: 10px;
  padding: 10px 20px;
}

.navbar-nav .nav-link {
  display: inline-block;
  color: var(--white-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: var(--accent-color);
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease,
    -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--white-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease,
    -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--white-color);
  width: 30px;
  height: 2px;
  content: "";
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}

/*---------------------------------------
  HERO        
-----------------------------------------*/
.hero-section {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  height: calc(100vh);
}

.hero-section small {
  color: var(--white-color);
  text-transform: uppercase;
}

.hero-section .section-overlay {
  z-index: 2;
  opacity: 0.25;
}

.hero-section .container {
  position: relative;
  z-index: 2;
  height: 100%;
  padding-bottom: 50px;
}

.hero-section .container .row {
  height: 100%;
}

/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/
.site-footer {
  background-color: var(--secondary-color);
  position: relative;
  overflow: hidden;
  padding-bottom: 30px;
  padding-top: 30px;
}

.site-footer-top {
  background-color: var(--secondary-color);
  /* background-image: url("../images/nainoa-shizuru-NcdG9mK3PBY-unsplash.jpg"); */
  background-repeat: no-repeat;
  margin-bottom: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.site-footer-bottom {
  border-top: 1px solid #1f1c1c;
  margin-top: 60px;
}

.site-footer-title {
  color: var(--primary-color);
}

.site-footer-link,
.copyright-text {
  color: var(--white-color);
}

.site-footer-links {
  padding-left: 0;
}

.site-footer-link-item {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}

.site-footer a:link {
  text-decoration: none;
}

.site-footer a:visited {
  text-decoration: none;
}

.site-footer a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}

.site-footer a:active {
  text-decoration: none;
}

.copyright-text {
  font-size: var(--copyright-font-size);
}

/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
  padding-left: 10%;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  background: var();
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--copyright-font-size);
  display: block;
  margin-right: 10px;
  text-align: center;
  width: auto;
  padding: 0 10px;
  line-height: 36px;
  transition: 0.2s;
  letter-spacing: 0.15ch;
}
.social-icon-link:hover {
  color: var(--white-color);
}
/*
.social-icon-link:active {
  transform: scale(0.8);
}

.social-icon-link span {
  display: block;
}

.social-icon-link span:hover::before {
  animation: spinAround 2s linear infinite;
}

.padding-top {
  padding-top: 10%;
} */

/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 60px !important;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .navbar ul {
    justify-content: center;
  }

  .navbar-expand-lg .navbar-nav {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px;
  }

  .hero-section {
    padding-top: 150px;
  }

  .pricing-thumb {
    padding: 35px;
  }

  .schedule-table h3 {
    font-size: 22px;
  }

  .schedule-table th {
    padding: 20px;
  }

  .schedule-table tr,
  .schedule-table td {
    padding: 25px;
  }

  .ticket-section {
    padding-top: 130px;
  }

  .ticket-form {
    padding: 30px;
  }
}

@media screen and (max-width: 767px) {
  .custom-btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 42px !important;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 32px !important;
  }
  h3 {
    font-size: 20px !important;
  }
}

p,
h2 {
  margin: 15px auto;
  padding: 0 15px;
  max-width: 800px;
}
h2 {
  margin-top: 30px;
}
.footerul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.footerul li {
  float: left;
}
.social-icon-link-footer {
  margin: 10px;
  color: var(--white-color);
}
.social-icon-link-footer:hover {
  color: var(--white-color);
  filter: drop-shadow(0.5px 0.5px 1px white);
}

html {
  scrollbar-width: 1px;
  scrollbar-color: #bf2303 #000;
}

html::-webkit-scrollbar {
  width: 9px;
  border-radius: 25px;
}

html::-webkit-scrollbar-thumb {
  background-color: #bf2303;
  border-radius: 25px;
}

html::-webkit-scrollbar-track {
  background-color: #000;
  border-radius: 25px;
}

/* html::-webkit-scrollbar-track:hover{
  background-color: #000;
  border-radius: 25px;
  opacity: 100;
} */

/* css for artist */
section {
  display: flex;
  width: 100%;
}
.tile {
  display: inline-block;
  position: relative;
  width: 450px;
  height: 300px;
  border-radius: 3px;
  margin: 15px;
  overflow: hidden;
}
.tile:hover > .text {
  opacity: 1;
  transition: 0.3s ease-in-out all;
}
.tile:hover > .text .title {
  bottom: 10px;
}
.tile:hover > .text .create {
  bottom: 10px;
}
.tile:hover > .text + .image {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}
.tile .text {
  opacity: 0;
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.3s ease-in-out all;
  z-index: 2;
}
.tile .text .title {
  position: absolute;
  bottom: -100px;
  left: 10px;
  transition: 0.3s ease-in-out all;
}
.tile .text .title h1 {
  font-size: 18px;
  margin: 0;
}
.tile .text .title h2 {
  color: #ccc;
  font-size: 12px;
  font-weight: 200;
  font-style: italic;
  padding-top: 3px;
  margin: 0;
}
.tile .text .create {
  cursor: pointer;
  border: 1px solid #fff;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  bottom: -100px;
  box-shadow: inset 0 0 0 0 #fff;
  transition: 0.4s ease-in-out all;
}
.tile .text .create:hover {
  color: #000;
  box-shadow: inset 0 -100px 0 0 #fff;
}
.tile .text .create h2 {
  font-size: 14px;
  font-weight: lighter;
  margin: 0;
}
.tile .image {
  overflow: hidden;
  border-radius: 5px;
  transition: 0.5s ease all;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  z-index: 1;
}
.face1 {
  background-image: url("https://s27.postimg.org/jifjfmw9t/screenshot_visuals_zoomph_com_2015_12_09_14_20_1.png");
}
.face2 {
  background-image: url("https://s27.postimg.org/6w0j524f5/screenshot_visuals_zoomph_com_2015_12_09_14_31_5.png");
}
.face3 {
  background-image: url("https://s4.postimg.org/9j7t7e72j/screenshot_visuals_zoomph_com_2015_12_10_12_49_1.png");
}
.face4 {
  background-image: url("http://fillmurray.com/600/200");
}
.face5 {
  background-image: url("http://fillmurray.com/601/200");
}
.face6 {
  background-image: url("http://fillmurray.com/602/200");
}
.face7 {
  background-image: url("http://fillmurray.com/603/200");
}
.face8 {
  background-image: url("http://fillmurray.com/604/200");
}
.face9 {
  background-image: url("http://fillmurray.com/608/200");
}
