.card {
  display: flex;
  width: 80%;
  border-radius: 5px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.card-img-container {
  position: relative;
}

.card-img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.card-badges {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.badge {
  display: inline-block;
  padding: 5px 5px;
  background-color: #eee;
  border-radius: 5px;
  margin-right: 5px;
}

.card-info {
  padding: 20px;
}

.popup {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.popup-content {
  background-color: white;
  margin: 5%;
  border-radius: 5px;
  width: 80%;
  position: relative;
}

.close {
  color: black;
  float: right;
  position: relative;
  right: 0;
  font-weight: bold;
  font-size: 1rem;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.popup {
  /* display: none; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-top: 3%;
}

.navbar {
  margin-bottom: 20px;
}

.close-btn-div {
  width: 100%;
  height: 50px;
}

@media only screen and (max-width: 425px) {
  .invi {
    font-size: small;
  }
}
