.cardmodal {
    width: 252px;
    height: 265px;
    background: white;
    border-radius: 30px;
    -webkit-box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
            box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  

  .card-img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }
  


  /* .imgcard {
    width: 100%;
    height: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#e66465), to(#9198e5));
    background: linear-gradient(#e66465, #9198e5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  } */
  
  .savecard {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    border-radius: 10px;
    margin: 20px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .textcard {
    margin: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
  }
  
  .savecard .svg {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    width: 15px;
    height: 15px;
  }
  
  .icon-box {
    margin-top: 15px;
    width: 70%;
    padding: 10px;
    background-color: #e3fff9;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  
  .icon-box svg {
    width: 17px;
  }
  
  .textcard .h3card {
    font-family: 'Lucida Sans' sans-serif;
    font-size: 15px;
    font-weight: 600;
  }
  
  .textcard .pcard {
    font-family: 'Lucida Sans' sans-serif;
    color: #999999;
    font-size: 13px;
  }
  
  .icon-box .spancard {
    margin-left: 10px;
    font-family: 'Lucida Sans' sans-serif;
    font-size: 13px;
    font-weight: light;
  }
  
  .card:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
            box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
  }
  
  .savecard:hover {
    -webkit-transform: scale(1.1) rotate(10deg);
        -ms-transform: scale(1.1) rotate(10deg);
            transform: scale(1.1) rotate(10deg);
  }
  
  .savecard:hover .svg {
    fill: #ced8de;
  }