.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modal-content::before {
    content: "";
    background-image: url('event1.jpg');
    filter: blur(8px);
    position: absolute;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    z-index: -1;
}
.close {
color:#aaa;float:right;font-size:28px;font-weight:bold
}
.close:hover,
.close:focus {
color:black;text-decoration:none;cursor:pointer
}
body{
    background-color: #1a1725;
}
.card{
    background-color: #000000;
    margin-left: 10%;
    margin-right: 10%;
    color: white; 
}


/* .navhao{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin-left: 8%;
    margin-right: 8%;
    text-decoration: none;
} */

.stars-op-back{
    display: flex;
    /* justify-content: space-between; */
    align-self: center;
    padding: 2%;
    /* margin-left: 8%;
    margin-right: 8%; */
    /* text-decoration: none; */
    /* text-align: left; */
    
}

.pillnavi{
    padding-top: 2%;

}

  .btn-bc{
    border: transparent;
    background-color: transparent;
  }
  .bi-arrow-left{
    
    font-size: 50px;
  }

  .bi-arrow-left {
    position: relative;
    display: inline-block;
    padding: 8px 0;
    color: rgb(255, 255, 255);
    rotate: 180deg;
  }
  .bi-arrow-left:before {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: #ffff;
    top: 50%;
    transition: width 0.5s ease-out;
    color: rgb(255, 255, 255);
  }
  .bi-arrow-left:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-top: 1px solid #ffff;
    border-right: 1px solid #ffff;
    transform: rotate(45deg);
    top: calc(50% - 5px);
    position: absolute;
    right: 1px;
    
  }
  .bi-arrow-left:hover {
    cursor: pointer;
  }
  .bi-arrow-left:hover:before {
    width: 80px;
  }

  .container-ptc{
    margin-top: 40px;
    top: 50%;
    left: 50%;
    transform: translate(0%, -30%);
  
  }

  .btn-ptc{
    color: white;
    border: 1px solid white;
    padding: 20px 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  .btn-ptc span {
    font-family: "Roboto", sans-serif;
    position: relative;
    z-index: 100;
  }
  .btn-ptc:before, .btn1:after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .btn-ptc:before {
    transform: translate3d(-100%, 0, 0);
    background-color: white;
    border: 1px solid white;
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .btn-ptc:after {
    background-color: #ffd1d8;
    border: 1px solid #ffd1d8;
    transform: translate3d(100%, 0, 0);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
  }
  .btn-ptc:hover:before {
    transform: translate3d(0, 0, 0);
  }
  .btn-ptc:hover:after {
    transform: translate3d(0, 0, 0);
  }

/* stars wala navigation*/ 

  /* #stars-op{
    height: auto;
    position: sticky;
    top:0px;
    z-index: 5;
    text-align: center;
  }  */


  #stars-op{
    height: auto;
    position: fixed;
    bottom:0;
    z-index: 5;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
  }

 #stars-op-mobile{
    display: none;
 }

#stars-nav{
  display: inline-block;
  text-align: left;
}




/* cards */
.cards-bolte{
  width: 90%;
  margin: auto;
}

.card{
  
  width: 90%;
  height: 20%;
  display: inline-block;
  background-color: #000000;
  margin: 5%;
  object-fit: contain;
  overflow: hidden;
}

.card-image{
  display: inline-block;  
  width: 40%; 
  padding: 3rem;
}

aside{
  width: 45%;
 display: inline-block;
}



  @media screen and (min-width: 801px){
    #stars-op{
      height: auto;
      position: sticky;
      top:0;
      z-index: 5;
      width: 100%;
      text-align: center;
    }


  }

