.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modal-content::before {
    content: "";
    background-image: url('event1.jpg');
    filter: blur(8px);
    position: absolute;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    z-index: -1;
}
.close {
color:#aaa;float:right;font-size:28px;font-weight:bold
}
.close:hover,
.close:focus {
color:black;text-decoration:none;cursor:pointer
}
body{
    background-color: #1a1725;
}
.card{
    background-color: #000000;
    margin-left: 10%;
    margin-right: 10%;
    color: white; 
}



.navhao{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin-left: 8%;
    margin-right: 8%;
    text-decoration: none;
}


.pillnavi{
    padding: 2%;

}


.container1{
    display: flex;
    align-items: right;
    justify-content: right;
    height: 100%;
}


/* css for back and ptc buttons */
.nav-button-css{
  font-weight: 600;
}

.container2{
    display: flex;
    align-items: left;
    justify-content: left;
    height: 100%;
  }


/* margin wala */
.margin-wala{
  margin-bottom: -2%;
}
  
  /* ul li {
    margin: 0 0 24px;
  } */
  
  .the-arrow {
    width: 50px;
    transition: all 0.2s;
  }
  .the-arrow.-left {
    position: absolute;
    top: 60%;
    left: 0;

  }
  .the-arrow.-left > .shaft {
    width: 0;
    background-color: #999;
  }
  .the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
    width: 0;
    background-color: #999;
  }
  .the-arrow.-left > .shaft:before {
    transform: rotate(0);
  }
  .the-arrow.-left > .shaft:after {
    transform: rotate(0);
  }
  .the-arrow.-right {
    top: 3px;
  }
  .the-arrow.-right > .shaft {

    width: 50px;

    transition-delay: 0.2s;
  }
  .the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
    width: 8px;
    transition-delay: 0.3s;
    transition: all 0.5s;
  }
  .the-arrow.-right > .shaft:before {
    transform: rotate(40deg);
  }
  .the-arrow.-right > .shaft:after {
    transform: rotate(-40deg);
  }
  .the-arrow > .shaft {
    background-color: #999;
    display: block;
    height: 1px;
    position: relative;
    transition: all 0.2s;
    transition-delay: 0;
    will-change: transform;
  }
  .the-arrow > .shaft:before, .the-arrow > .shaft:after {
    background-color: #999;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s;
    transition-delay: 0;
  }
  .the-arrow > .shaft:before {
    transform-origin: top right;
  }
  .the-arrow > .shaft:after {
    transform-origin: bottom right;
  }
  
  .animated-arrow {
    display: inline-block;
    color: #999;
    font-size: 1.25em;
    font-style: italic;
    text-decoration: none;
    position: relative;
    transition: all 0.2s;
  }
  .animated-arrow:hover {
    color: #eaeaea;
  }
  .animated-arrow:hover > .the-arrow.-left > .shaft {
    width: 64px;
    transition-delay: 0.1s;
    background-color: #eaeaea;
  }
  .animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after {
    width: 8px;
    transition-delay: 0.1s;
    background-color: #eaeaea;
  }
  .animated-arrow:hover > .the-arrow.-left > .shaft:before {
    transform: rotate(40deg);
  }
  .animated-arrow:hover > .the-arrow.-left > .shaft:after {
    transform: rotate(-40deg);
  }
  .animated-arrow:hover > .main {
    transform: translateX(80px);
  }
  .animated-arrow:hover > .main > .the-arrow.-right > .shaft {
    width: 0;
    transform: translateX(200%);
    transition-delay: 0;
  }
  .animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
    width: 0;
    transition-delay: 0;
    transition: all 0.1s;
  }
  .animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
    transform: rotate(0);
  }
  .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
    transform: rotate(0);
  }
  .animated-arrow > .main {
    display: flex;
    align-items: center;

    transition: all 0.7s;

  }
  .animated-arrow > .main > .text {
    margin: 0 16px 0 0;
    line-height: 1;
  }
  .animated-arrow > .main > .the-arrow {
    position: relative;

  } 

/* stars wala navigation*/ 

#stars-op{
  height: auto;
  position: sticky;
  top:0px;
  z-index: 5;
  text-align: center;
}

#stars-nav{
  display: inline-block;
  text-align: left;
}

/* cards */
.cards-bolte{
  width: 90%;
  margin: auto;
}

.card{
  
  width: 90%;
  height: 20%;
  display: inline-block;
  background-color: #000000;
  margin: 5%;
  object-fit: contain;
  overflow: hidden;
}

.card-image{
  display: inline-block;  
  width: 40%; 
  padding: 3rem;
}

aside{
  width: 45%;
 display: inline-block;
}

